<?- include head.html -?>
<?
var sq = result.sq
ch = result.ch
result = result.r
;
?>
<form onsubmit="javascript:var file=$('#file'); if(!file.val()){
	file.remove()}" method="get" enctype="multipart/form-data" action="/tol/s/">

	<label for="author">Search: </label>
	<input type="text" name="sq" value="<?=orempty(sq)?>"/>
	<br/>

<? if(result.r){?>
	<span><a href="/image/<?=orempty(result?result.id:'')?>">Edit Image</a></span> <span><a href="/image/<?=orempty(result.id)?>/remove">Remove Image</a></span>
	<br>
<?}?>

	<label for="content">Content: </label>
	<br/>
	<textarea rows="5" cols="50" name="content"><?=orempty(result.mimetype)?></textarea>
	<br/>
	<label for="image">Image(optional): </label>

<? if(result.id){?>
	<img id="image" src="/getimg/<?=orempty(result.id)?>"/>
	<br>

	<input type="button" value="Remove Image" onclick="javascript:
		$('#image).hide(); $('#filecnt').show();
	  $('#prevImage').attr('name', 'prevImage');
	"/>
<? }?>

	<div <? if(typeof result.id != 'undefined'){?> style="display:none"<?}?> id="filecnt">
		<input type="file" name="image" id="file"/>
	</div><br/>
	<input type="submit"/>
</form>
<div id="LE">
	<div class="">Life on Earth:1</div>
	<?for(var k in result){?>
	<a class="ch frst" href="javascript:"><?=orempty(result[k].v)?></a>(<?=result[k].c?>)
	<?}?>
</div>
<div id="searchres">
<?
if(ch == 0){
for(var i in result){?>
<div><a id="n<?=i?>" href="javascript:"><?=result[i]?></a>
	<div id="n<?=i?>c"></div>
</div>
<?}}?>
</div>
<?- include footer.html -?>